.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(238, 238, 238);
    min-height: 100vh;
    background-color: #ffffff;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            color: #0000ff;
            font-size: 20px;
            font-weight: bold;
        }
    }
    hr{
        border: 0.3px solid rgb(238, 238, 238);
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            p{
                font-weight: bold;
                font-size: 12px;
                margin-top: 15px;
                margin-bottom: 5px;
                color: #999999;
            }
            .menuList{
                display: flex;
                align-items: center;
                padding: 5px;
                color: #6666ff;
                cursor: pointer;

                &:hover{
                    background-color: #ccccff;
                }
                .icon{
                    font-size: 18px;
                }
                span{
                    font-weight: 600;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
            
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            margin: 5px;
            border-radius: 5px;
            border: 1px solid #ccccff;
            cursor: pointer;
        
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #252525;
            }
        }
    }
}